@using System.Globalization
@inject ProjectsDBContext db
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory

@if (IsEditing)
{
    <tr>
        <td>
            <EditForm Model="item">
                <InputText @bind-Value="item.BillNumber" class="form-control form-control-sm" ></InputText>
            </EditForm>
        </td>
        <td>
            <EditForm Model="item">
                <InputDate @bind-Value="item.BillDate" class="form-control form-control-sm"></InputDate>
            </EditForm>
        </td>
        <td>
            <EditForm Model="item">
                <InputText @bind-Value="item.Author" class="form-control form-control-sm"></InputText>
            </EditForm>
        </td>
        <td>
            <EditForm Model="item">
                <InputNumber @bind-Value="item.Amount" class="form-control form-control-sm"></InputNumber>
            </EditForm>
        </td>
        <td>
            <EditForm Model="item">
                <InputText @bind-Value="item.Note" class="form-control form-control-sm"></InputText>
            </EditForm>
        </td>
        <td>
            <button class="btn btn-outline-danger btn-sm" @onclick="()=>IsEditing=false">
                Cancelar
            </button>
            <button class="btn btn-outline-success  btn-sm" @onclick="Update">
                Guardar
            </button>
        </td>
    </tr>
}
else
{

    <tr>
        <td>
            @item.BillNumber
        </td>
        <td>
            @item.BillDate.ToShortDateString()
        </td>
        <td>
            @item.Author
        </td>
        <td>
            @item.Amount.ToString("N2")
        </td>
        <td>
            @item.Note
        </td>
        <td>
            <button class="btn btn-outline-info" @onclick="ToggleContentAsync">
                Archivos
            </button>
            <button class="btn btn-outline-info" @onclick="()=>IsEditing=true">
                Editar
            </button>
        </td>
    </tr>
    <tr>
        <Collapse @ref="collapse1">
            <Card>
                <CardBody>
                    <table class="table table-hover">
                        @foreach(var i in item.BillFiles)
                        {
                            <tr>
                                <td>
                                    <h6>@i.FileName</h6>
                                </td>
                            </tr>
                        }
                    </table>
                </CardBody>
            </Card>
        </Collapse>

    </tr>
}


@code {
    [Parameter]
    public Bill item { get; set; }


    private bool IsEditing { get; set; }

    Collapse collapse1 = default!;

    private void Update()
    {
        try
        {
            var dbcontext = DbContextFactory.CreateDbContext();
            item.Note = string.IsNullOrEmpty(item.Note) ? "" : item.Note;
            item.Author = string.IsNullOrEmpty(item.Author) ? "" : item.Author;
            dbcontext.Bill.Update(item);
            dbcontext.SaveChanges();
            IsEditing = false;
            StateHasChanged();
        }
        catch (Exception ex)
    {
            Console.WriteLine(ex.Message);
            throw;
        }
    }
    private async Task ToggleContentAsync() => await collapse1.ToggleAsync();
}
