@inject ApplicationDbContext dbContext;



<ConfirmDialog @ref="dialog" />

@if (!isdelete)
{
    @if (IsEditing)
    {
        <EditForm Model="item" OnValidSubmit="Update">
            <DataAnnotationsValidator />

            <tr class="table-warning align-middle">

                <!-- NOMBRE -->
                <td>
                    <div class="d-flex gap-1">
                        <InputText class="form-control form-control-sm shadow-sm"
                                   @bind-Value="item.Name"
                                   placeholder="Nombre" />

                        <InputText class="form-control form-control-sm shadow-sm"
                                   @bind-Value="item.LastName"
                                   placeholder="Apellido" />
                    </div>
                </td>

                <!-- DNI -->
                <td>
                    <InputNumber class="form-control form-control-sm shadow-sm"
                                 @bind-Value="item.DNI" />
                </td>

                <!-- EMAIL -->
                <td>
                    <InputText class="form-control form-control-sm shadow-sm"
                               @bind-Value="item.Email" />
                </td>

                <!-- USUARIO -->
                <td>
                    <InputText class="form-control form-control-sm shadow-sm"
                               @bind-Value="item.UserName" />
                </td>

                <!-- ESTADO -->
                <td class="text-center">
                    <div class="form-check form-switch d-flex justify-content-center">
                        <InputCheckbox class="form-check-input shadow-sm"
                                       @bind-Value="item.EmailConfirmed" />
                    </div>
                </td>

                <!-- ACCIONES -->
                <td class="text-center">
                    <button type="submit"
                            class="btn btn-outline-success btn-sm me-1">
                        Guardar
                    </button>

                    <button type="button"
                            class="btn btn-outline-danger btn-sm"
                            @onclick="() => IsEditing = false">
                        Cancelar
                    </button>
                </td>

            </tr>
        </EditForm>
    }
    else
    {
        <tr class="align-middle">

            <td>
                @item.Name @item.LastName
            </td>

            <td>
                @item.DNI
            </td>

            <td>
                @item.Email
            </td>

            <td>
                @item.UserName
            </td>

            <!-- ESTADO -->
            <td class="text-center">
                @if (item.EmailConfirmed)
                {
                    <span class="badge bg-success">Activo</span>
                }
                else
                {
                    <span class="badge bg-secondary">Inactivo</span>
                }
            </td>

            <!-- ACCIONES -->
            <td class="text-center">
                <a href="user/@item.Id"
                   class="btn btn-outline-info btn-sm me-1"
                   title="Ver">
                    <Icon Name="IconName.Eye" />
                </a>

                <button class="btn btn-outline-success btn-sm me-1"
                        title="Editar"
                        @onclick="() => IsEditing = true">
                    <Icon Name="IconName.PencilFill" />
                </button>

                <button class="btn btn-outline-danger btn-sm"
                        title="Eliminar"
                        @onclick="ShowConfirmationAsync">
                    <Icon Name="IconName.XCircleFill" />
                </button>
            </td>

        </tr>
    }
}



@code {
    [Parameter]
    public UserIdentityEx item { get; set; }

    private bool IsEditing = false;
    private bool isdelete = false;

    private async Task Update()
    {
        item.NormalizedEmail = item.Email.ToUpper();
        item.NormalizedUserName = item.UserName.ToUpper();
        dbContext.Users.Update(item);
        dbContext.SaveChanges();
        IsEditing = false;
    }


    private ConfirmDialog dialog = default!;

    private async Task ShowConfirmationAsync()
    {
        var confirmation = await dialog.ShowAsync(
            title: "Borrado de Usuario",
            message1: "El usuario será eliminado de la base de datos",
            message2: "Desea proceder?");

        if (confirmation)
        {
            dbContext.Users.Remove(item);
            dbContext.SaveChanges();
            isdelete = true;
        }
        else
        {
        }
    }

}
