@inject ApplicationDbContext dbContext;


<Offcanvas @ref="offcanvas" />
<Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />



<div class="border rounded shadow-sm p-3">

    @if (IsEditing)
    {
        <EditForm Model="user" OnValidSubmit="UpdateUser">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <h5 class="text-center fw-bold mb-4">Editar Usuario</h5>

            <div class="row g-3">

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control shadow-sm"
                                   @bind-Value="user.Name" />
                        <label>Nombre</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control shadow-sm"
                                   @bind-Value="user.LastName" />
                        <label>Apellido</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control shadow-sm"
                                   @bind-Value="user.Email" />
                        <label>Correo</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control shadow-sm"
                                   @bind-Value="user.UserName" />
                        <label>Usuario</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputText class="form-control shadow-sm"
                                   @bind-Value="user.PhoneNumber" />
                        <label>Teléfono</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <InputNumber class="form-control shadow-sm"
                                     @bind-Value="user.DNI" />
                        <label>Cédula</label>
                    </div>
                </div>

            </div>

            <div class="text-center mt-4">

                <button type="submit"
                        class="btn btn-outline-success btn-sm me-2">
                    Guardar
                </button>

                <button type="button"
                        class="btn btn-outline-secondary btn-sm"
                        @onclick="() => IsEditing = false">
                    Cancelar
                </button>
            </div>
        </EditForm>
    }
    else
    {
        <h5 class="text-center fw-bold mb-4">Detalle del Usuario</h5>

        <div class="row g-3">

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Nombre</div>
                <div>@user.Name</div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Apellido</div>
                <div>@user.LastName</div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Correo</div>
                <div>@user.Email</div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Usuario</div>
                <div>@user.UserName</div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Teléfono</div>
                <div>@user.PhoneNumber</div>
            </div>

            <div class="col-md-6">
                <div class="fw-semibold text-muted small">Cédula</div>
                <div>@user.DNI</div>
            </div>

        </div>

        <div class="text-center d-flex justify-content-start mt-4">
            <Tooltip Class="d-inline-block" Title="Editar Usuario" role="button">
                <button class="btn btn-outline-warning btn-sm me-2"
                        @onclick="() => IsEditing = true">
                    Editar
                </button>
            </Tooltip>
            <Tooltip Class="d-inline-block" Title="Editar Contraseña" role="button">
                <button class="btn btn-outline-info btn-sm"
                        @onclick="ShowPasswordChange">
                    Cambio Contraseña
                </button>
            </Tooltip>
        </div>
    }

</div>



@code {
    [Parameter]
    public UserIdentityEx user { get; set; }

    private Offcanvas offcanvas = default!;
    private string? message;
    List<ToastMessage> messages = new List<ToastMessage>();



    private bool IsEditing = false;


    private async Task UpdateUser()
    {
        IsEditing = false;

        user.NormalizedEmail = user.Email.ToUpper();
        user.NormalizedUserName = user.UserName.ToUpper();
        dbContext.Users.Update(user);
        dbContext.SaveChanges();
    }

    private async Task ShowPasswordChange()
    {
        // Crear un diccionario para pasar parámetros al componente AddProject
        var parameters = new Dictionary<string, object>
        {
            // Usar EventCallback.Factory.Create para crear un EventCallback para el método HandleProjectAdded
            { "user",user }
        };

        // Mostrar el componente AddProject dentro del Offcanvas
        // El primer parámetro es el título del Offcanvas
        // El segundo parámetro es el diccionario de parámetros que contiene el EventCallback
        await offcanvas.ShowAsync<ChangePasswordComponent>("Cambio Contraseña", parameters);


    }
}
