@page "/create-project"
@inject ProjectsDBContext db
@inject NavigationManager Nav;
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject CentralBankService BancoCentralService



@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using System.Xml.Linq


<EditForm Model="@project" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<!--Project-->
	<div class="shadow p-1 mx-2 rounded border gap-1">
		<h5 class="text-center">Datos de Proyecto</h5>
		<!--Title-->
		<div class="form-group">
			<div class=" form-floating mt-1 ">
				<InputText id="Title" class="form-control" @bind-Value="project.Title" />
				<label class="form-label" for="Title">Titulo</label>
			</div>
			<ValidationMessage For="@(() => project.Title)" />
		</div>
		<!--Description-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputTextArea id="Description" class="form-control" @bind-Value="project.Description" />
				<label for="Description">Descripción</label>
			</div>
			<ValidationMessage For="@(() => project.Description)" />
		</div>
		<!--Project Task Number-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputText id="TaskNumber" class="form-control" @bind-Value="project.TaskNumber" />
				<label class="form-label" for="TaskNumber">Número Tarea</label>
			</div>
			<ValidationMessage For="@(() => project.TaskNumber)" />
		</div>
		<!--Creation Date-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputDate id="CreationDate" class="form-control" @bind-Value="project.CreationDate" />
				<label class="form-label" for="CreationDate">Fecha Registro</label>
			</div>
			<ValidationMessage For="@(() => project.CreationDate)" />
		</div>
		<!--Project Type-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect id="TypeId" class="form-control" @bind-Value="project.TypeId">
					<option value="">Select Type</option>
					@foreach (var type in types)
					{
						<option value="@type.TypeId">@type.Name</option>
					}
				</InputSelect>
				<label class="form-label" for="TypeId">Tipo</label>
			</div>
			<ValidationMessage For="@(() => project.TypeId)" />
		</div>
		<!--Customer-->
		<div class="form-group">
			<div class="mt-1 mb-1">
				<AutoComplete @bind-Value="customerName"
							  TItem="Customer"
							  class="form-control"
							  DataProvider="CustomersDataProvider"
							  PropertyName="Name"
							  Placeholder="Buscar Cliente..."
							  OnChanged="(Customer customer) => OnAutoCompleteChanged(customer)" />

			</div>
			<ValidationMessage For="@(() => project.CustomerId)" />
		</div>
		<!--Offer Id-->
		<div>
			<div class=" form-floating mt-1 mb-1">
				<InputTextArea id="Offer" class="form-control" @bind-Value="project.OfferId" />
				<label class="form-label">Oferta</label>
			</div>
			<ValidationMessage For="@(() => project.OfferId)" />
		</div>
		<!--State-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect id="StateId" class="form-control" @bind-Value="project.StateId">
					@foreach (var state in states)
					{
						<option value="@state.StateId">@state.StateName</option>
					}
				</InputSelect>
				<label class="form-label" for="StateId">Estado</label>

			</div>
			<ValidationMessage For="@(() => project.StateId)" />
		</div>
		<!--Amount-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputNumber id="Amount" class="form-control" @bind-Value="project.Amount" />
				<label class="form-label" for="Amount">Monto (Original Sin IVA)</label>
			</div>
			<ValidationMessage For="@(() => project.Amount)" />
		</div>
		<!--Type Of Change-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputNumber id="TypeOfChange" class="form-control" @bind-Value="project.TypeOfChange" />
				<label class="form-label" for="TypeOfChange">Tipo Cambio</label>
			</div>
			<ValidationMessage For="@(() => project.TypeOfChange)" />
		</div>
		<!--Currency Type-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect class="form-select form-select-sm" @bind-Value="project.CurrencyType">
					<option value=""></option>
					<option value="en-US">Dolar</option>
					<option value="es-CR">Colon</option>
				</InputSelect>
				<label class="form-label" for="IsCompleted">Moneda (Original)</label>
			</div>
			<ValidationMessage For="@(() => project.CurrencyType)" />
		</div>
		<!-- Taxes -->
		<div class="form-group">
			<div class="form-floating mt-1 mb-1">
				<InputNumber @bind-Value="project.TAX" class="form-control" id="taxInput" max="13" min="0"></InputNumber>
				<label class="form-label" for="taxInput">Impuestos (%)</label>
			</div>
			<ValidationMessage For="@(() => project.TAX)" />
		</div>
		<!--OC-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputText id="OC" class="form-control" @bind-Value="project.OC" />
				<label class="form-label" for="OC">Orden Compra</label>
			</div>
			<ValidationMessage For="@(() => project.OC)" />
		</div>
		<!--OC Date-->
		<div class="form-group">
			<div class="d-flex">
				<div class=" w-75 form-floating mt-1 mb-1">
					<InputDate id="OCDate" class="form-control" @bind-Value="project.OCDate" />
					<label class="form-label" for="OCDate">Fecha Orden Compra</label>
				</div>
				<Button Class="w-25 btn btn-sm btn-outline-info" @onclick="OnChangeOCDateAsync">
					<Icon Name="IconName.CloudArrowDown"></Icon>
					Tipo Cambio
				</Button>
			</div>
			<ValidationMessage For="@(() => project.OCDate)" />
		</div>
		<!--Ubication-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputText id="IsDeleted" class="form-control" @bind-Value="project.Ubication" />
				<label class="form-label" for="Ubication">Ubicación</label>
			</div>
			<ValidationMessage For="@(() => project.Ubication)" />
		</div>
		<!--Province-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect class="form-select form-select-sm" @bind-Value="project.Province">
					<option value="">Seleccione</option>
					<option value="San José">San Jose</option>
					<option value="Heredia">Heredia</option>
					<option value="Alajuela">Alajuela</option>
					<option value="Cartago">Cartago</option>
					<option value="Puntarenas">Puntarenas</option>
					<option value="Guanacaste">Guanacaste</option>
					<option value="Limón">Limón</option>
				</InputSelect>
				<label class="form-label" for="Province">Provincia</label>
			</div>
			<ValidationMessage For="@(() => project.Province)" />
		</div>
	</div>
	<!--Internal Data-->
	<div class="shadow p-1 mx-2 rounded border">
		<h5 class="text-center">Datos Internos</h5>
		<!--Company-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect id="TypeId" class="form-control" @bind-Value="project.CompanyId">
					<option value="">Select Type</option>
					@foreach (var i in Companies)
					{
						<option value="@i.CompanyId">@i.CompanyName</option>
					}
				</InputSelect>
				<label class="form-label" for="TypeId">Compania</label>
			</div>
			<ValidationMessage For="@(() => project.CompanyId)" />
		</div>
		<!--Seller-->
		<div class="form-group">
			<div class=" form-floating mt-1 mb-1">
				<InputSelect id="SellerId" class="form-control" @bind-Value="project.SellerId">
					@foreach (var seller in sellers)
					{
						<option value="@seller.SellerId">@seller.SellerName</option>
					}
				</InputSelect>
				<label class="form-label" for="SellerId">Vendedor</label>
			</div>
			<ValidationMessage For="@(() => project.SellerId)" />
		</div>
	</div>
	<div class="form-group mx-2 mb-5">
		<button type="submit" class="btn btn-outline-success btn-sm my-1 w-50">Crear Proyecto</button>
		<label class="text-danger">@ErrorMessage</label>
	</div>
</EditForm>

@code {
	[Parameter]
	public EventCallback OnAdded { get; set; }

	private Project project = new Project();
	private List<TypeModel> types = new List<TypeModel>();
	private List<Customer> customers = new List<Customer>();
	private List<Seller> sellers = new List<Seller>();
	private List<State> states = new List<State>();
	private List<Company> Companies = new List<Company>();

	private string ErrorMessage = "";

	private string? customerName;

	protected override async Task OnInitializedAsync()
	{
		project = new();

		project.TypeOfChange = await BancoCentralService.ObtenerTipoCambioAsync(DateTime.Now);
		// Cargar las dependencias desde la base de datos
		Companies = db.Company.ToList();
		types = db.Types.ToList();
		customers = db.Customers.ToList();
		sellers = db.Seller.Where(s => s.IsActive).OrderBy(s => s.SellerName).ToList();
		states = db.States.ToList();
		project.CreationDate = DateTime.Now;
		project.OCDate = DateTime.Now;
	}

	#region Central Bank Type Of change
	
	private async Task OnChangeOCDateAsync()
	{
		project.TypeOfChange = await BancoCentralService.ObtenerTipoCambioAsync(project.OCDate);
		StateHasChanged();
	}

	#endregion

	#region	Customer Autocomplete

	private async Task<AutoCompleteDataProviderResult<Customer>> CustomersDataProvider(AutoCompleteDataProviderRequest<Customer> request)
	{
		var customersf = db.Customers.Where(w => w.Name.Contains(request.Filter.Value));
		return await Task.FromResult(new AutoCompleteDataProviderResult<Customer> { Data = customersf, TotalCount = customersf.Count() });
	}

	private void OnAutoCompleteChanged(Customer customer)
	{
		if (customer != null)
		{
			customerName = customer.Name;
			project.Customer = customer;
			project.CustomerId = customer.CustomerId;
		}
	}

	#endregion

	private void ClearFormFields()
	{
		project = new Project
			{
				CreationDate = DateTime.Now,
				OCDate = DateTime.Now
			};

		customerName = string.Empty;

		// Resetear cualquier campo adicional si es necesario
	}

	private async Task SendBitrixCommentary()
	{
		var valid = int.TryParse(project.TaskNumber, out int taskNumber);
		Bitrix24ClientServices bitrix24ClientServices = new Bitrix24ClientServices();
		await bitrix24ClientServices.SendTaskCommentAsync(taskNumber, $"Número de Proyecto {project.ProjectId}. Ver más detalles en app para proyectos.", 252);

	}

	private void ResetProjectsIdentity()
	{
		try
		{
			var dbtmp = DbContextFactory.CreateDbContext();
			var lastProject = dbtmp.Projects.OrderByDescending(p => p.ProjectId).FirstOrDefault();
			if (lastProject != null)
			{
				using (var connection = dbtmp.Database.GetDbConnection())
				{
					connection.Open();
					using (var command = connection.CreateCommand())
					{
						command.CommandText = $"DBCC CHECKIDENT ('dbo.Projects', RESEED, {lastProject.ProjectId});";
						command.ExecuteNonQuery();
					}
					connection.Close();
				}
				Console.WriteLine("El contador de identidad se ha reseteado correctamente.");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error al resetear el contador de identidad: {ex.Message}");
		}
	}

	private async Task HandleValidSubmit()
	{
		ResetProjectsIdentity();

		if (project != null)
		{
			using (var transaction = await db.Database.BeginTransactionAsync())
			{
				try
				{

					project.IsCompleted = false;
					project.Isfactured = false;
					db.Projects.Add(project);
					await db.SaveChangesAsync();
					transaction.Commit();
					SendBitrixCommentary();// Mensaje automatico a bitrix
					Nav.NavigateTo($"projects/{project.ProjectId}");
				}
				catch (Exception e)
				{
					transaction.Rollback();
					ErrorMessage = "Error, Verifique los datos";
				}
			}
		}
	}
}

