<tr>
    <td>@ProjectObj.ProjectId</td>
    <td>@ProjectObj.Title</td>
    <td>@ProjectObj.Customer.Name</td>
    <td>@ProjectObj.State?.StateName</td>
    <td>@ProjectObj.OC</td>
    <td>@ProjectObj.Type?.Name</td>
    <td>@ProjectObj.CreationDate.ToShortDateString()</td>
    <td>@ProjectObj.Amount.ToString("C")</td>
    <td>
        <a href="/projects/@ProjectObj.ProjectId" class="btn btn-sm btn-outline-info">
        Ver
        </a>
        <a href="#" class="btn btn-sm btn-outline-success">
            Modificar
        </a>
    </td>

</tr>


@code {
    [Parameter]
    public Project ProjectObj { get; set; }
}
