@inject ProjectsDBContext db

<ConfirmDialog @ref="dialog" />

<tr class="@stylerow">
    <td>@ProjectObj.ProjectId</td>
    <td>@ProjectObj.Title</td>
    <td>@ProjectObj.Customer.Name</td>
    <td>@ProjectObj.State?.StateName</td>
    <td>@ProjectObj.OC</td>
    <td>@ProjectObj.Type?.Name</td>
    <td>@ProjectObj.CreationDate.ToShortDateString()</td>
    <td>@ProjectObj.Amount.ToString("C")</td>
    <td >
        <a href="/projects/@ProjectObj.ProjectId" class="btn btn-sm btn-outline-info">
        Ver
        </a>
        @if (ProjectObj.IsDeleted)
        {
            <button  class="btn btn-sm btn-outline-success mx-1" @onclick="Enable" >
                Activar Proyecto
            </button>
        }
        else
        {
            <button class="btn btn-sm btn-outline-danger mx-1" @onclick="ShowConfirmationAsync">
                Desactivar 
            </button>
        }
    </td>
</tr>


@code {
    [Parameter]
    public Project ProjectObj { get; set; }

    string stylerow = "";

    protected override async Task OnInitializedAsync()
    {
        if ( ProjectObj.IsDeleted)
        {
            stylerow = "text-danger text-decoration-line-through";
        }
        base.OnInitializedAsync();   
    }

    private void Update()
    {
        db.Projects.Update(ProjectObj);
        db.SaveChanges();
        StateHasChanged();
    }

    private void Disable()
    {
        ProjectObj.IsDeleted = true;
        Update();
    }
    private void Enable()
    {
        ProjectObj.IsDeleted = false;
        Update();
    }


    private ConfirmDialog dialog = default!;

    private async Task ShowConfirmationAsync()
    {
        var confirmation = await dialog.ShowAsync(
            title: "Borrado de Proyecto",
            message1: "El proyecto no será borrado de la base de datos. Solamente se marcará como \"Eliminado\". No podrá agregar mas información o modificarlo.",
            message2: "Desea proceder?");

        if (confirmation)
        {
            Disable();
        }
        else
        {
            Enable();
        }
    }
}
