@inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject NavigationManager Nav;


<ConfirmDialog @ref="dialog" />

<div class="border rounded m-1 shadow" >
    @if (IsEditing)
    {
        <table class="table table-sm">
            <tr>
                <th>
                    @nameof(customer.CustomerId)
                </th>
                <td>
                    @customer.CustomerId
                </td>
            </tr>
            <tr>
                <th>
                    @nameof(customer.Name)
                </th>
                <td>
                    <EditForm Model="customer">
                        <InputText class="form-control" @bind-Value="customer.Name"></InputText>
                    </EditForm>
                </td>
            </tr>
            <tr>
                <th>
                    Tipo
                </th>
                <td>
                    <EditForm Model="customer">
                        <InputSelect id="type" @bind-Value="customer.Type" class="form-select">
                            <option value="Publico">Público</option>
                            <option value="Privado">Privado</option>
                        </InputSelect>
                    </EditForm>
                </td>
            </tr>
            <tr>
                <th>
                    @nameof(customer.DNI)
                </th>
                <td>
                    <EditForm Model="customer">
                        <InputNumber class="form-control" @bind-Value="customer.DNI" ></InputNumber>
                    </EditForm>
                </td>
            </tr>
        </table>
        <div class="d-flex flex-row gap-2">
            <button class="btn btn-sm btn-outline-danger" @onclick="()=>IsEditing = false">Cancelar</button>
            <button class="btn btn-sm btn-outline-success" @onclick="Update">Guardar Cambios</button>

            </div>
       
    }
    else
    {
        <table class="table table-sm">
            <tr>
                <th>
                  Id Interno
                </th>
                <td>
                    @customer.CustomerId
                </td>
            </tr>
            <tr>
                <th>
                    Nombre
                </th>
                <td>
                    @customer.Name
                </td>
            </tr>
            <tr>
                <th>
                    Tipo
                </th>
                <td>
                    @customer.Type
                </td>
            </tr>
            <tr>
                <th>
                    Cédula
                </th>
                <td>
                    @customer.DNI
                </td>
            </tr>
        </table>
<div class="d-flex flex-row gap-2 p-2">

            <button class="btn btn-sm btn-outline-info" @onclick="()=>IsEditing = true">Editar Cliente</button>
            @if (CanDelete)
            {
                <button class="btn btn-sm btn-outline-danger" @onclick="Delete">Eliminar</button>
            }
       
    </div>
    }

</div>

@code {
    [Parameter]
    public Customer customer { get; set; }


    public bool IsEditing = false;
    private bool CanDelete = false;



    protected override async Task OnInitializedAsync()
    {
        var s = DbContextFactory.CreateDbContext();
        CanDelete = !s.Projects.Any(p => p.CustomerId == customer.CustomerId);
        base.OnInitializedAsync();
    }


    private async Task Update()
    {
        ProjectsDBContext db = DbContextFactory.CreateDbContext();
        db.Customers.Update(customer);
        db.SaveChanges();
        IsEditing = false;
        StateHasChanged();
    }


    private ConfirmDialog dialog = default!;

    private async Task Delete()
    {
        var confirmation = await dialog.ShowAsync(
            title: "Borrar el cliente",
            message1: "Este cliente será borrado de la base de datos",
            message2: "Desea proceder?");

        if (confirmation)
        {
            ProjectsDBContext db = DbContextFactory.CreateDbContext();
            db.Customers.Remove(customer);
            db.SaveChanges();
            Nav.NavigateTo("/customers");
        }
        else
        {
        }
    }
}
