@page "/add-offer"
@using System.Security.Claims

@inject IDbContextFactory<ProjectsDBContext> DbContextFactory
@inject IDbContextFactory<ApplicationDbContext> dbIdentityFactory;

@inject NavigationManager NAV


<EditForm Model="offer" OnValidSubmit="Add" class="p-2">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row mb-2">
        <label>Autor</label>
        <InputText @bind-Value="offer.Author" readonly />
    </div>
    <div class="row mb-2">
        <label>Fecha Registro</label>
        <InputDate @bind-Value="offer.Creation" class="form-control form-control-sm"></InputDate>
        <ValidationMessage For="@(() => offer.Creation)" />
    </div>
    <div class="row mb-2">
        <label>Cliente</label>
        <InputText @bind-Value="offer.Customer" class="form-control form-control-sm"></InputText>
        <ValidationMessage For="@(() => offer.Customer)" />
    </div>
    <div class="row mb-2">
        <label>Descripción</label>
        <InputTextArea @bind-Value="offer.Description" class="form-control form-control-sm"></InputTextArea>
        <ValidationMessage For="@(() => offer.Description)" />
    </div>

    <div class="row mb-2">
        <label>Tipo Contacto</label>
        <InputSelect @bind-Value="offer.ContactType" class="form-control form-control-sm">
            <option value=" ">Seleccione una opción</option>
            <option value="Vendedor">Vendedor</option>
            <option value="Reactivación">Reactivación</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Correo">Correo</option>
            <option value="Llamada">Llamada</option>
            <option value="Otro">Otro</option>
        </InputSelect>
        <ValidationMessage For="@(() => offer.ContactType)" />
    </div>
    <div class="row mb-2">
        <label>Tipo Oferta</label>
        <InputSelect @bind-Value="offer.Type" class="form-control form-control-sm">
            <option value="">Seleccione</option>
            <option value="Mantenimiento">Mantenimiento</option>
            <option value="Instalación">Instalación</option>
            <option value="Mejoras">Mejoras</option>
            <option value="Otro">Otro</option>
        </InputSelect>
        <ValidationMessage For="@(() => offer.Author)" />
    </div>

    <div class="table-responsive border rounded">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <label>Requiere DDCE</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequiredDDCE" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>Requiere Ionizante</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequiredLightningStrike" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>Requiere Torre</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequireTower" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>Requiere SPAT</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequireSPAT" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>Requiere Supresor</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequireSurgeProtector" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>Requiere Otro</label>
                    </td>
                    <td class="text-center">
                        <InputCheckbox @bind-Value="offer.RequireOther" class="form-check-input"></InputCheckbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-2">
        <label>Monto</label>
        <InputNumber @bind-Value="offer.Amount" class="form-control form-control-sm"></InputNumber>
        <ValidationMessage For="@(() => offer.Amount)" />
    </div>
    <div class="row mb-2">
        <label>Cotizado Por</label>
        <InputText @bind-Value="offer.CalculateBy" class="form-control form-control-sm"></InputText>
        <ValidationMessage For="@(() => offer.CalculateBy)" />
    </div>
    <div class="row mb-2">
        <label>Responsable</label>
        <InputSelect @bind-Value="offer.ResponsibleId" class="form-control form-control-sm">
            @foreach (var item in sellers)
            {
                <option value="@item.SellerId">@item.SellerName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => offer.Responsible)" />
    </div>
    <div class="row mb-2">
        <label>Etapa</label>
        <InputSelect @bind-Value="offer.State" class="form-control form-control-sm">
            <option value="">Seleccione</option>
            <option value="Enviado">Enviado</option>
            <option value="Negociación">Negociación</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Vendido">Vendido</option>
            <option value="Cobro">Cobro</option>
        </InputSelect>
        <ValidationMessage For="@(() => offer.State)" />
    </div>


    <button type="submit" class="btn btn-outline-success">Agregar</button>
</EditForm>

 @inject AuthenticationStateProvider asp;

@code {
    [Parameter]
    public EventCallback OnAdded { get; set; }

    private ApplicationDbContext dbIdentity;

    private List<Seller> sellers = new();
    private Offer offer = new Offer
        {
            Creation = DateTime.Now // Inicializa la fecha de creación con la fecha actual
        };

    protected override async Task OnInitializedAsync()
    {

        dbIdentity = dbIdentityFactory.CreateDbContext();
        using var context = DbContextFactory.CreateDbContext();
        sellers = context.Seller.Where(e => e.IsActive).OrderBy(e => e.SellerName).ToList();
        // Obtén el estado de autenticación
        var s = asp.GetAuthenticationStateAsync();
        var user = s.Result.User;

        if (user.Identity.IsAuthenticated)
        {
            var u = user.FindFirst(ClaimTypes.Name)?.Value;
            var d = dbIdentity.Users.FirstOrDefault(e => e.UserName == u);
            offer.Author = d.Name + "" + d.LastName;
            // Asigna el ID del autor basado en el usuario autenticado

        }
        else
        {
            offer.Author = "Usuario no autenticado";
        }
        base.OnInitializedAsync();
    }
    private async Task Add()
    {
        var context = DbContextFactory.CreateDbContext();

        using (var transaction = await context.Database.BeginTransactionAsync())
        {
            try
            {
                offer.Responsible = sellers.FirstOrDefault(i => i.SellerId == int.Parse(offer.ResponsibleId)).SellerName;
                context.Offers.Add(offer);
                await context.SaveChangesAsync();
                NAV.NavigateTo($"/offers/{offer.OfferId}");
                transaction.Commit();
            }
            catch (Exception ef)
            {
                transaction.Rollback();
            }
            finally
            {
                ResetOffersIdentity(context);
            }
        }

        


    }

    private void ResetOffersIdentity(ProjectsDBContext r)
    {
        try
        {
            var lastOffer = r.Offers.OrderByDescending(p => p.OfferId).FirstOrDefault();
            using (var connection = r.Database.GetDbConnection())
            {
                connection.Open();
                using (var command = connection.CreateCommand())
                {
                    command.CommandText = $"DBCC CHECKIDENT ('dbo.Offers', RESEED, {lastOffer.OfferId});";
                    command.ExecuteNonQuery();
                }
            }
            Console.WriteLine("El contador de identidad se ha reseteado correctamente.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al resetear el contador de identidad: {ex.Message}");
        }
    }
}
