@page "/offer-edit"
@inject IDbContextFactory<ProjectsDBContext> DbContextFactory

@using System.ComponentModel.DataAnnotations

@if (IsEditing)
{
    <EditForm Model="tmpOffer" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="table table-hover border table-sm">
            <tbody>
                <tr>
                    <th>Número</th>
                    <td>@tmpOffer.OfferId</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>
                        <InputDate @bind-Value="tmpOffer.Creation" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => tmpOffer.Creation)" />
                    </td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>
                        <InputText @bind-Value="tmpOffer.Customer" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => tmpOffer.Customer)" />
                    </td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>
                        <InputText @bind-Value="tmpOffer.Description" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => tmpOffer.Description)" />
                    </td>
                </tr>
                <tr>
                    <th>Tipo Contacto</th>
                    <td>
                        <InputSelect @bind-Value="tmpOffer.ContactType" class="form-control form-control-sm">
                            <option value=" ">Seleccione una opción</option>
                            <option value="Vendedor">Vendedor</option>
                            <option value="Reactivación">Reactivación</option>
                            <option value="Whatsapp">Whatsapp</option>
                            <option value="Correo">Correo</option>
                            <option value="Llamada">Llamada</option>
                            <option value="Otro">Otro</option>
                        </InputSelect>
                    </td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>
                        <InputSelect @bind-Value="tmpOffer.Type" class="form-control form-control-sm">
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Instalación">Instalación</option>
                            <option value="Mejoras">Mejoras</option>
                            <option value="Otro">Otro</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => tmpOffer.Type)" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a DDCE</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequiredDDCE" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a Pararrayos</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequiredLightningStrike" />
                    </td>
                </tr>
                <tr>
                    <th>Vincula a Torre</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequireTower" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a SPAT</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequireSPAT" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a supresores</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequireSurgeProtector" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a Otros</th>
                    <td>
                        <InputCheckbox @bind-Value="tmpOffer.RequireOther" />
                    </td>
                </tr>
                <tr>
                    <th>Monto</th>
                    <td>
                        <InputNumber @bind-Value="tmpOffer.Amount" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => tmpOffer.Amount)" />
                    </td>
                </tr>
                <tr>
                    <th>Calculado Por</th>
                    <td>
                        <InputText @bind-Value="tmpOffer.CalculateBy" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => tmpOffer.CalculateBy)" />
                    </td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    <td>
                        <InputSelect @bind-Value="tmpOffer.ResponsibleId" class="form-control form-control-sm">
                            @foreach (var item in sellers)
                            {
                                <option value="@item.SellerId">@item.SellerName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => tmpOffer.ResponsibleId)" />
                    </td>
                </tr>
                <tr>
                    <th>Etapa</th>
                    <td>
                        <InputSelect @bind-Value="tmpOffer.State" class="form-control form-control-sm">
                            <option value="Enviado">Enviado</option>
                            <option value="Negociación">Negociación</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Vendido">Vendido</option>
                            <option value="Cobro">Cobro</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => tmpOffer.State)" />
                    </td>
                </tr>


                <!-- Aquí puedes agregar más campos si es necesario -->
            </tbody>
        </table>

        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="CancelEdit">Cancelar</button>
        <button type="submit" class="btn btn-sm btn-outline-info">Actualizar</button>
    </EditForm>
}
else
{
   <TableOfferComponent offer="offer" /> 
   <button class="btn btn-sm btn-outline-info" @onclick="StartEdit">Editar Oferta</button>
}

@errorMessage

@code {
    [Parameter]
    public Offer offer { get; set; }
    private bool IsEditing = false;
    private Offer tmpOffer = new();

    ProjectsDBContext projectsDB;

    string errorMessage = "";
    private List<Seller> sellers = new();
    protected override async Task OnInitializedAsync()
    {
        projectsDB = DbContextFactory.CreateDbContext();

        // Aquí puedes cargar datos iniciales si es necesario
        sellers = projectsDB.Seller.Where(e => e.IsActive).ToList();
    }

    private void StartEdit()
    {
        tmpOffer = offer;
        IsEditing = true;
    }

    private void CancelEdit()
    {
        IsEditing = false;
        tmpOffer = null;
        StateHasChanged();
    }

    private async Task Update()
    {
        try
        {
            if (tmpOffer != null)
            {
                offer = null;
                tmpOffer.Responsible = sellers.FirstOrDefault(i => i.DNI.ToString() == tmpOffer.ResponsibleId).SellerName;
                projectsDB.Offers.Update(tmpOffer);
                await projectsDB.SaveChangesAsync();
                offer = tmpOffer;

                IsEditing = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            // Manejar el error de actualización aquí
            Console.WriteLine($"Error al actualizar la oferta: {ex.Message}");
        }
    }
}
