@page "/offer-edit"
@inject ProjectsDBContext db

@using System.ComponentModel.DataAnnotations

@if (IsEditing)
{
    <EditForm Model="offer" OnValidSubmit="Update">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <table class="table table-hover border table-sm">
            <tbody>
                <tr>
                    <th>Número</th>
                    <td>@offer.OfferId</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>
                        <InputDate @bind-Value="offer.Creation" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => offer.Creation)" />
                    </td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>
                        <InputText @bind-Value="offer.Customer" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => offer.Customer)" />
                    </td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>
                        <InputText @bind-Value="offer.Description" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => offer.Description)" />
                    </td>
                </tr>
                <tr>
                    <th>Tipo Contacto</th>
                    <td>
                    <InputSelect @bind-Value="offer.ContactType" class="form-control form-control-sm">
                        <option value=" ">Seleccione una opción</option>
                        <option value="Vendedor">Vendedor</option>
                        <option value="Reactivación">Reactivación</option>
                        <option value="Whatsapp">Whatsapp</option>
                        <option value="Correo">Correo</option>
                        <option value="Llamada">Llamada</option>
                        <option value="Otro">Otro</option>
                    </InputSelect>
                    </td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>
                        <InputSelect @bind-Value="offer.Type" class="form-control form-control-sm">
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Instalación">Instalación</option>
                            <option value="Mejoras">Mejoras</option>
                            <option value="Otro">Otro</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => offer.Type)" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a DDCE</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequiredDDCE" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a Pararrayos</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequiredLightningStrike" />
                    </td>
                </tr>
                <tr>
                    <th>Vincula a Torre</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequireTower" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a SPAT</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequireSPAT" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a supresores</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequireSurgeProtector" />
                    </td>
                </tr>
                <tr>
                    <th>Vincular a Otros</th>
                    <td>
                        <InputCheckbox @bind-Value="offer.RequireOther" />
                    </td>
                </tr>
                <tr>
                    <th>Monto</th>
                    <td>
                        <InputNumber @bind-Value="offer.Amount" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => offer.Amount)" />
                    </td>
                </tr>
                <tr>
                    <th>Calculado Por</th>
                    <td>
                        <InputText @bind-Value="offer.CalculateBy" class="form-control form-control-sm" />
                        <ValidationMessage For="@(() => offer.CalculateBy)" />
                    </td>
                </tr>
                <tr>
                    <th>Responsable</th>
                    <td>
                        <InputSelect @bind-Value="offer.ResponsibleId" class="form-control form-control-sm">
                            @foreach (var item in sellers)
                            {
                                <option value="@item.SellerId">@item.SellerName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => offer.ResponsibleId)" />
                    </td>
                </tr>
                <tr>
                    <th>Etapa</th>
                    <td>
                        <InputSelect @bind-Value="offer.State" class="form-control form-control-sm">
                            <option value="Enviado">Enviado</option>
                            <option value="Negociación">Negociación</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Vendido">Vendido</option>
                            <option value="Cobro">Cobro</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => offer.State)" />
                    </td>
                </tr>
              

                <!-- Aquí puedes agregar más campos si es necesario -->
            </tbody>
        </table>

        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="CancelEdit">Cancelar</button>
        <button type="submit" class="btn btn-sm btn-outline-info">Actualizar</button>
    </EditForm>
}
else
{
    <table class="table table-hover border table-sm">
        <tbody>
            <tr>
                <th>Número</th>
                <td>@offer.OfferId</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>@offer.Creation.ToLongDateString()</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>@offer.Customer</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>@offer.Description</td>
            </tr>
            <tr>
                <th>Tipo Contacto</th>
                <td>@offer.ContactType</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>@offer.Type</td>
            </tr>
            <tr>
                <th>Require DDCE</th>
                @if (offer.RequiredDDCE)
                {
                    <td>Vinculado a DDCE</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
            <tr>
                <th>Requiere Ionizante</th>
                @if (offer.RequiredLightningStrike)
                {
                    <td>Vinculado a Ionizante</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
            <tr>
                <th>Requiere Torre</th>
                @if (offer.RequireTower)
                {
                    <td>Vinculado a Torres</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
            <tr>
                <th>Requiere SPAT</th>
                @if (offer.RequireSPAT)
                {
                    <td>Vinculado a SPAT</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
            <tr>
                <th>Require Supresor</th>
                @if (offer.RequireSurgeProtector)
                {
                    <td>Vinculado a Supresores</td>

                }
                else
                {
                    <td>No</td>
                }
        </tr>

            <tr>
                <th>Otros</th>
                @if (offer.RequireOther)
                {
                    <td>Vinculado a Otros</td>

                }
                else
                {
                    <td>No</td>
                }
            </tr>
            <tr>
                <th>Monto</th>
                <td>@offer.Amount</td>
            </tr>
            <tr>
                <th>Calculado Por</th>
                <td>@offer.CalculateBy</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>@offer.Author</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>@offer.Responsible</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>@offer.State</td>
            </tr>
        </tbody>
    </table>
    
        <button class="btn btn-sm btn-outline-info" @onclick="StartEdit">Editar Oferta</button>
    
}

@code {
    [Parameter]
    public Offer offer { get; set; }
    private bool IsEditing = false;

    private List<Seller> sellers = new();
    protected override async Task OnInitializedAsync()
    {
        // Aquí puedes cargar datos iniciales si es necesario
        sellers = db.Seller.Where(e => e.IsActive).ToList();
    }

    private void StartEdit()
    {
        IsEditing = true;
    }

    private void CancelEdit()
    {
        IsEditing = false;
    }

    private async Task Update()
    {
        try
        {
            if (offer != null)
            {
                db.Offers.Update(offer);
                await db.SaveChangesAsync();

                // Recargar el objeto desde la base de datos si es necesario
                offer = await db.Offers.FindAsync(offer.OfferId);

                IsEditing = false;
            }
        }
        catch (Exception ex)
        {
            // Manejar el error de actualización aquí
            Console.WriteLine($"Error al actualizar la oferta: {ex.Message}");
        }
    }
}
