@inject ProjectsDBContext db


@if (!IsEditing)
{
    <tr style="font-size:14px;">
        <td>@offer.OfferId</td>
        <td>@offer.Creation.ToString("MMM-yyyy")</td>
        <td>@offer.Customer</td>
        <td>@offer.State</td>
        <td>@offer.Responsible - @offer.ResponsibleId </td>
        <td>@offer.Description</td>
        <td>$@offer.Amount</td>
        <td>
            <Tooltip Class="d-inline-block" Title="Ver Oferta" role="button">
                <a href="/offers/@offer.OfferId" class="btn btn-outline-info btn-sm" target="_blank">
                    <Icon Name="IconName.EyeFill" />
                </a>
            </Tooltip>
            <Tooltip Class="d-inline-block" Title="Edición monto y estado" role="button">
                <a class="btn btn-outline-success btn-sm" @onclick="()=> IsEditing = true">
                    <Icon Name="IconName.PencilFill" />
                </a>
            </Tooltip>


        </td>
    </tr>
}
else
{
    <tr>
        <td>@offer.OfferId</td>
        <td>
            <EditForm Model="offer">
                <InputDate @bind-Value="offer.Creation" class="form-control form-control-sm"> </InputDate>
            </EditForm>
        </td>
        <td>
            <EditForm Model="offer">
                <InputText @bind-Value="offer.Customer" class="form-control form-control-sm"></InputText>
            </EditForm>
        </td>
        <td>
            <EditForm Model="offer">
                <InputSelect @bind-Value="offer.State" class="form-select form-select-sm">
                    <option value="Enviado">Enviado</option>
                    <option value="Negociación">Negociación</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Vendido">Vendido</option>
                    <option value="Cobro">Cobro</option>
                </InputSelect>
            </EditForm>
        </td>
        <td>@offer.Author</td>
        <td>
            <EditForm Model="offer">
                <InputText @bind-Value="offer.Description" class="form-control form-control-sm"></InputText>
            </EditForm>

        </td>
        <td>
            <EditForm Model="offer">
                <InputNumber @bind-Value="offer.Amount" class="form-control form-control-sm"></InputNumber>
            </EditForm>
        </td>
        <td>
            <Tooltip Class="d-inline-block" Title="Cancelar Cambios" role="button">
                <button class="btn btn-outline-danger btn-sm" @onclick="()=> IsEditing=false">
                    <Icon Name="IconName.XCircleFill" />
                </button>
            </Tooltip>
            <Tooltip Class="d-inline-block" Title="Guardar Cambios" role="button">
                <button class="btn btn-outline-success btn-sm" @onclick="Update">
                    <Icon Name="IconName.CheckCircleFill" />
                </button>
            </Tooltip>


        </td>
    </tr>
}


@code {
    [Parameter]
    public Offer offer { get; set; }

    private bool IsEditing { get; set; }

    private async Task Update()
    {
        db.Offers.Update(offer);
        db.SaveChanges();
        IsEditing = false;
    }
}
