
<tr>
    <td>@offer.OfferId</td>
    <td>@offer.Creation.ToShortDateString()</td>
    <td>@offer.Customer</td>
    <td>@offer.State</td>
    <td>@offer.Author</td>
    <td>@offer.Description</td>
    <td>$@offer.Amount</td>
    <td>
        <a href="/offers/@offer.OfferId" class="btn btn-outline-info">
            Ver Oferta
        </a>
        <a class="btn btn-outline-success">
            Modificar
        </a>
    </td>
</tr>
@code {
    [Parameter]
    public Offer offer { get; set; }

}
