@page "/kanban"
@using Microsoft.EntityFrameworkCore
@inject ProjectsDBContext db


<Offcanvas @ref="offcanvas" />

<div class="row overflow-scroll">
    @foreach (var Obj in ProjectLists)
    {
        <div class="col h-100">
            <h3>@Obj.Key.StateName</h3>
            <SortableList  
                          class="h-100"
                          TItem="Project"
                          Name="@($"{Obj.Key.StateName}")"
                          Data="@Obj.Value"
                          Context="project"
                          OnUpdate="args => OnProjectListUpdate(args, Obj.Key.StateId,Obj.Key.StateName )"
                          OnRemove="args => OnProjectListRemove(args, Obj.Key.StateId)">
                <ItemTemplate>
                    <div @onclick="() => HandleProjectView(project)">
                        <h6><b>@project.Title</b></h6>
                        <div class="d-flex flex-column">
                            <label><i>@project.Type?.Name</i></label>
                            <label><i>@project.Customer?.Name</i></label>
                        </div>
                        
                     </div>
                </ItemTemplate>
            </SortableList>
        </div>
    }
</div>


@code {
    private Offcanvas offcanvas = default!;
    public List<State> States { get; set; } = new();
    public Dictionary<State, List<Project>> ProjectLists { get; set; } = new();


    protected override void OnInitialized()
    {
        // Cargar estados
        States = db.States.Where(i=>!i.IsDeleted).ToList();

        // Inicializar el diccionario ProjectLists con listas vacías para cada estado
        foreach (var state in States)
        {
            ProjectLists[state] = GetProjectsByState(state.StateId);
        }
    }

    private List<Project> GetProjectsByState(int stateId)
    {
        return 
        db.Projects
        .Include( e=> e.Type)
        .Include(e => e.Commentaries)
        .Include(e => e.Customer)
        .Include(e => e.State)
        .Include(e => e.Seller)
        .OrderByDescending(e => e.ProjectId)
        .Where(i => i.StateId == stateId && (i.CreationDate >= (DateTime.Today.AddMonths(-2)) || (i.CreationDate.Year == DateTime.Today.Year))).ToList();
    }

    private void OnProjectListUpdate(SortableListEventArgs args, int stateId, string NameState)
    {
        var TargetState = GetState(NameState);
        var ProjectTemp = GetProject(TargetState, args.OldIndex);

        ProjectLists.Where(i => i.Key == TargetState).FirstOrDefault().Value.RemoveAt(args.OldIndex);
        var size = ProjectLists.Where(i => i.Key == TargetState).FirstOrDefault().Value.Count;
        if (args.NewIndex < size)
        {
            ProjectLists.Where(i => i.Key == TargetState).FirstOrDefault().Value.Insert(args.NewIndex, ProjectTemp);
        }
        else
        {
            ProjectLists.Where(i => i.Key == TargetState).FirstOrDefault().Value.Add(ProjectTemp);
        }

    }

    private async Task OnProjectListRemove(SortableListEventArgs args, int stateId)
    {
        var TargetState = GetState(args.ToListName);
        var OriginState = GetState(args.FromListName);

        var ProjectTemp = GetProject(OriginState, args.OldIndex);

        /// Delete  Project
        ProjectLists.Where(i => i.Key == OriginState).FirstOrDefault().Value.Remove(ProjectTemp);
        /// Insert Project
        ProjectLists.Where(i => i.Key == TargetState).FirstOrDefault().Value.Insert(0, ProjectTemp);
        ProjectTemp.StateId = TargetState.StateId;

        ProjectTemp.IsCompleted = (TargetState.StateName == "Finalizado") ? true : false;

        db.Projects.Update(ProjectTemp);
        await db.SaveChangesAsync();


    }

    private State GetState(string Name)
    {
        return States.FirstOrDefault(i => i.StateName == Name);
    }

    private Project GetProject(State searchState, int index)
    {
        try
        {
            return ProjectLists.Where(i => i.Key == searchState).FirstOrDefault().Value[index];
        }
        catch (Exception e)
        {

            return null;
        }

    }


    private async Task HandleProjectView(Project e)
    {
        // Crear un diccionario para pasar parámetros al componente AddProject
        var parameters = new Dictionary<string, object>();
        parameters.Add("project", e);


        // Mostrar el componente AddProject dentro del Offcanvas
        // El primer parámetro es el título del Offcanvas
        // El segundo parámetro es el diccionario de parámetros que contiene el EventCallback
        await offcanvas.ShowAsync<ProjectCanvaViewComponent>("Información del Proyecto", parameters);
    }

}
